*{
 
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading{

  
}
.line{
    border: 2px solid green;
    width: 335px;

    margin-top: 1rem;
}
.input{

    display: flex;
    justify-content: flex-start;
}
input{
    width: 450px;
    height: 3rem;
    border: 2px solid white;
    background-color: white;
    font-size: large;
    padding-left: 0.5rem;
    border-radius: 4px;
}
.copy{
    margin: 0.8rem;
    cursor: pointer;
}
.generate{

    margin-top: 0.5rem;
}
button{
    padding: 0.5rem;
    color: white;
    background-color: seagreen;
    border: 2px seagreen solid;
    border-radius: 4px;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
body{
    overflow-x: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}